

.box-container {
    background-color: burlywood;
    color: white;
    width: 800px;
    border: 30px solid darkolivegreen;
    padding: 50px;
    margin: auto;
}

.box-container h1 {
    text-align: center;
}
